{% extends "base.twig" %}

{% block content %}
    {% if meta.title is defined %}
        <h2 class="title">{{ meta.title }}</h2>
    {% endif %}

    {{ content }}

    <ol class="episodes">
        {% for episode in episodes %}
            <li class="episodes">
                <div class="episode-image">
                    {% if episode.thumbnail is defined %}
                        <a href="{{ episode.link }}">
                            <img src="{{ episode.thumbnail }}" width="150" height="150">
                        </a>
                    {% endif %}
                </div>
                <div class="episode-text">
                    <a href="{{ episode.link }}">
                        <h3>{{ episode.title }}</h3>
                    </a>
                    {{ episode.excerpt }}
                </div>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
