<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:cc="http://web.resource.org/cc/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:media="http://search.yahoo.com/mrss/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
	<channel>
		<atom:link href="{{ rss.url }}" rel="self" type="application/rss+xml"/>
		<title>{{ site_title }}</title>
        <pubDate>{{ rss.published }}</pubDate>
		<lastBuildDate>{{ rss.lastBuildDate }}</lastBuildDate>
		<link>{{ base_url }}</link>
	    <language>{{ rss.language }}</language>
		<copyright>{{ rss.copyright }}</copyright>
		<managingEditor>{{ rss.editor.name }}{% if rss.editor.email is defined %} ({{ rss.editor.email }}){% endif %}</managingEditor>
		<description>Soundscape was born out of a passion for music and a love of the journey. Twice a month we develop a theme for exploration within the music. These themes could be about a particular kind of music, a single artist or band, or even something more expansive such as a the theme of flying. Really anything is fair game here. To develop this journey we rely on progressive rock, and improvisational/experimental music. We also rely on our listeners to help us bring the experience alive with their own suggestions. The Soundscape podcast has now been running for over 8 years and the inspiration for these journeys grows and evolves beyond anything we could have imagined. Your hosts Suzi and Woody Harris have had many years of experience in music from DJing to running a music store. We look forward to your participation in our adventure.</description>
		<image>
			<url>http://www.soundscapeprog.com/images/itunescover.jpg</url>
			<title>Soundscape</title>
			<link>http://www.soundscapeprog.com</link>
		</image>
		<itunes:author>Woody and Suzi Harris</itunes:author>
		<itunes:keywords>music,soundscape,progressiverock,progrock,exploration,improvisational,experimental</itunes:keywords>
		<itunes:category text="Music"/>
		<itunes:image href="http://www.soundscapeprog.com/images/itunescover.jpg" />
		<itunes:explicit>clean</itunes:explicit>
		<itunes:owner>
			<itunes:name>Woody and Suzi Harris</itunes:name>
			<itunes:email>soundscape@progrock.com</itunes:email>
		</itunes:owner>
		<itunes:subtitle>A progressive rock podcast broadcasting every other Sunday at 11:00 AM EST</itunes:subtitle>

<!--
		<item>
			<title>Soundscape ~episodenumber~: ~episodetitle~</title>
			<pubDate>~episodeday~, ~episodedate~ ~episodetime~ EST</pubDate>
			<guid isPermaLink="false">~episodeguid~</guid>
			<link>http://soundscapeprog.com/episodes/~episodepage~.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/~thumbnailimage~.jpg" />
			<description><![CDATA[~description~]]></description>
			<enclosure length="~mp3size~" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/~mp3file~.mp3" />
			<itunes:duration>~mp3length~</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>~episodeteaser~</itunes:subtitle>
		</item>
-->
<item>
	<title>Soundscape 2.38: Hitch a Ride</title>
	<pubDate>Sun, 03 Jul 2016 11:00:00 EST</pubDate>
	<guid isPermaLink="false">215a8e63-1f1b-44f1-bcd4-e6410e2dfc78</guid>
	<link>http://soundscapeprog.com/episodes/soundscape-2.38-hitch-a-ride.html</link>
	<itunes:image href="http://soundscapeprog.com/episodes/images/soundscape-2.38-hitch-a-ride-thumbnail.jpg" />
	<description><![CDATA[There are not that many prog songs that reference hitchhiking. Nevertheless, we embarked upon the journey and found some good tangential material to round out the theme. ]]></description>
	<enclosure length="248750497" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/soundscape-2.38-hitch-a-ride.mp3" />
	<itunes:duration>04:19:42</itunes:duration>
	<itunes:explicit>no</itunes:explicit>
	<itunes:keywords />
	<itunes:subtitle>There are not that many prog songs that reference hitchhiking. Nevertheless, we embarked upon the journey and found some good tangential material to round out the theme. </itunes:subtitle>
</item>
<item>
	<title>Soundscape 2.37: Get the FUNK out</title>
	<pubDate>Sun, 19 Jun 2016 11:00:00 EST</pubDate>
	<guid isPermaLink="false">48dd3fb8-8db0-4a6e-a988-8c1ebb7a71d6</guid>
	<link>http://soundscapeprog.com/episodes/soundscape-2.37-get-the-funk-out.html</link>
	<itunes:image href="http://soundscapeprog.com/episodes/images/soundscape-2.37-get-the-funk-out-thumbnail.jpg" />
	<description><![CDATA[This time around, Soundscape explores the funky side of progressive rock. Is this even a thing? Listen to this weeks episode and find out. We also include our usual mélange of  new music, silly banter, and of course the perfect album side. Check out the show and let us know how you like it.]]></description>
	<enclosure length="257187839" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/soundscape-2.37-get-the-funk-out.mp3" />
	<itunes:duration>04:28:31</itunes:duration>
	<itunes:explicit>no</itunes:explicit>
	<itunes:keywords />
	<itunes:subtitle>This time around, Soundscape explores the funky side of progressive rock. Is this even a thing? Listen to this weeks episode and find out.</itunes:subtitle>
</item>
	<item>
		<title>Soundscape 2.36: Follow Your Leaders</title>
		<pubDate>Sun, 15 May 2016 11:30:00 EST</pubDate>
		<guid isPermaLink="false">41713f11-6d8a-4745-81d8-7ef3838b37c2</guid>
		<link>http://soundscapeprog.com/episodes/soundscape-2.36-follow-your-leaders.html</link>
		<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape-2.36-follow-your-leaders-thumbnail.jpg" />
		<description><![CDATA[Hi listeners! I am not sure where some episode ideas come from. This one is a strange one. Let's just say the theme is leadership...sort of. What was supposed to be an homage to American presidents instead became a prog treatise on leadership as a whole. It may sound complicated, but you will get the hang of it and I dare say it will be an enjoyable journey. ]]></description>
		<enclosure length="261517478" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/soundscape-2.36-follow-your-leaders.mp3" />
		<itunes:duration>4:33:02</itunes:duration>
		<itunes:explicit>no</itunes:explicit>
		<itunes:keywords />
		<itunes:subtitle>Hi listeners! I am not sure where some episode ideas come from. This one is a strange one. Let's just say the theme is leadership...sort of. </itunes:subtitle>
	</item>
	<item>
		<title>Soundscape 2.35: Get Up</title>
		<pubDate>Sun, 01 May 2016 11:00:00 EST</pubDate>
		<guid isPermaLink="false">655be027-eb92-4545-9220-008df0a9b1b6</guid>
		<link>http://soundscapeprog.com/episodes/soundscape-2.35-get-up.html</link>
		<itunes:image href="http://soundscapeprog.com/episodes/images/soundscape-2.35-get-up-thumbnail.jpg" />
		<description><![CDATA[Welcome listeners! This episode of Soundscape is mostly in your face and brash. The idea was to create a motivating and uplifting set of music. I dare say the results are a shot in the arm and a rocket to adrenaline.  ]]></description>
		<enclosure length="224690676" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/soundscape-2.35-get-up.mp3" />
		<itunes:duration>3:54:35</itunes:duration>
		<itunes:explicit>no</itunes:explicit>
		<itunes:keywords />
		<itunes:subtitle>Welcome listeners! This episode of Soundscape is mostly in your face and brash. The idea was to create a motivating and uplifting set of music. I dare say the results are a shot in the arm and a rocket to adrenaline.  </itunes:subtitle>
	</item>
	<item>
		<title>Soundscape 2.34~: Kiss My Brass</title>
		<pubDate>Sun, 17 Apr 2016 11:00:00 EST</pubDate>
		<guid isPermaLink="false">0d5b6c44-f5c3-4055-84c7-314236b9efc2</guid>
		<link>http://soundscapeprog.com/episodes/soundscape-2.34-kiss-my-brass.html</link>
		<itunes:image href="http://soundscapeprog.com/episodes/images/soundscape-2.34-kiss-my-brass-thumbnail.jpg" />
		<description><![CDATA[This week we take a short excursion into the use of brass instruments in prog rock. At times the episode leans in towards jazz more than our average show. That is ok because the music will speak for itself. Having never been a jazz fusion fan, I thought this would be a challenge. Most of the suggestions offered are indeed jazz fusion. However...]]></description>
		<enclosure length="250729115" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/soundscape-2.34-kiss-my-brass.mp3" />
		<itunes:duration>04:21:26</itunes:duration>
		<itunes:explicit>no</itunes:explicit>
		<itunes:keywords />
		<itunes:subtitle>This week we take a short excursion into the use of brass instruments in prog rock. At times the episode leans in towards jazz more than our average show. That is ok because the music will speak for itself. Having never been a jazz fusion fan...</itunes:subtitle>
	</item>
<item>
	<title>Soundscape 2.33: Escape Velocity: Asia</title>
	<pubDate>Sun, 03 Apr 2016 11:00:00 EST</pubDate>
	<guid isPermaLink="false">2cbcd73e-3b99-43c8-ae79-caefd2528159</guid>
	<link>http://soundscapeprog.com/episodes/soundscape-2.33-escape-velocity-asia.html</link>
	<itunes:image href="http://soundscapeprog.com/episodes/images/soundscape-2.33-escape-velocity-asia-thumbnail.jpg" />
	<description><![CDATA[Escape Velocity shows are all about bringing a taste of music around the world. This time we are exploring the continent of Asia. The awesome thing about prog for me is the quest. Hunting down a theme acquaints us with the music in a way that we simply would not generally become aware of it. Turn over a stone, and a whole continent of prog awaits our gaze and our listening ears, As usual, within the context of our rather short journey here it is impossible to truly show the breadth of music available in Asia. Nevertheless, we make a valiant effort to give you a taste of the land. Enjoy this strange little journey.]]></description>
	<enclosure length="241573719" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/soundscape-2.33-escape-velocity-asia.mp3" />
	<itunes:duration>4:12:13</itunes:duration>
	<itunes:explicit>no</itunes:explicit>
	<itunes:keywords />
	<itunes:subtitle>Escape Velocity shows are all about bringing a taste of music around the world. This time we are exploring the continent of Asia. The awesome thing about prog for me is the quest.</itunes:subtitle>
</item>
<item>
	<title>Soundscape 2.32: Perfect Album Sides</title>
	<pubDate>Sun, 20 Mar 2016 11:00:00 EST</pubDate>
	<guid isPermaLink="false">640b0837-b43c-4378-b1f5-b6ab58b3f341</guid>
	<link>http://soundscapeprog.com/episodes/soundscape-2.32-perfect-album-sides.html</link>
	<itunes:image href="http://soundscapeprog.com/episodes/images/soundscape-2.32-the-perfect-album-side-show-thumbnail.jpg" />
	<description><![CDATA[So you guys requested an entire show filled with perfect album sides. We have obliged, although to be fair 2 of them come from your DJs. Nevertheless you have requested and we have put out...no that is not quite right...oh well you get the gist.]]></description>
	<enclosure length="235959274" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/soundscape-2.32-perfect-album-sides.mp3" />
	<itunes:duration>4:06:21</itunes:duration>
	<itunes:explicit>no</itunes:explicit>
	<itunes:keywords />
	<itunes:subtitle>	So you guys requested an entire show filled with perfect album sides. We have obliged, although to be fair 2 of them come from your DJs. Nevertheless...</itunes:subtitle>
</item>
<item>
	<title>Soundscape 2.31: It Seems We Were Dreaming</title>
	<pubDate>Sun, 6 Mar 2016 11:00:00 EST</pubDate>
	<guid isPermaLink="false">40dd5de8-b736-4d6a-95bc-326f2137a8e9</guid>
	<link>http://soundscapeprog.com/episodes/it-seems-we-were-dreaming.html</link>
	<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.31%20It%20Seems%20We%20Were%20Dreaming-thumbnail.jpg" />
	<description><![CDATA[<p>Recently dreams have become very important to your humble DJ. Not only have I been remembering dreams consistently, but I have taken my nueronautical journeys into these deep chasms as a serious matter of study.  As such it seems only reasonable that I present a dreaming based show. This is the 3rd time we have used this theme, but the first time since joining progrock. With minor exceptions, the show is completely different from those others. Through some wizardry I was able to incorporate a lot of new music while still giving the show an overall dreamy haze. Personally I am rather pleased with the outcome.</p>p>If you would like to offer a Perfect Album Side for future play we would love to hear what you have to offer. In fact we are doing a show of Perfect Album Sides in our next broadcast. In this case we have room for 3 perfect album sides from other folks and Suzi and I will do one each as well. We have regular contributors for this part of the show, but we are missing your voice. If you are reading this, put together approx 40 minutes of music and mail us the setlist:<a href="mailto:soundscape@progrock.com">soundscape@progrock.com</a> We would love to hear whatever you have to offer.</p>p>Our Perfect Album Side this week was replaced with a tribute to amazing Riverside guitarist Piotr Grudzinski. He died 2 weeks ago due to heart failure. He will be greatly missed. We wanted to honor his memory with a set that highlights his proficiency and talent. </p>]]></description>
	<enclosure length="237336389" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.31%20It%20Seems%20We%20Were%20Dreaming.mp3" />
	<itunes:duration>4:07:03</itunes:duration>
	<itunes:explicit>no</itunes:explicit>
	<itunes:keywords />
	<itunes:subtitle>Recently dreams have become very important to your humble DJ. Not only have I been remembering dreams consistently, but I have taken my nueronautical journeys into these deep chasms as a serious matter of study.</itunes:subtitle>
</item>
		<item>
			<title>Soundscape 2.30: Best of 2015 So Far</title>
			<pubDate>Sun, 28 Feb 2016 11:00:00 EST</pubDate>
			<guid isPermaLink="false">1f6e3fa9-c183-40a5-a19a-ad4121d5e606</guid>
			<link>http://soundscapeprog.com/episodes/best-of-2015-so-far.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/best-of-2015-so-far-thumbnail.jpg" />
			<description><![CDATA[<p>After much gnashing of teeth and anxious equivocation I developed some semblance of an end of year show for 2015. In typical Soundscape fashion, I would say you should take it all in stride. Much of the upper portion of the list is more arbitrary than I would like, and the bottom portion of the list is geared entirely towards my own subjective feel about the music of 2015.</p><p>The music however is a wonderful mixture that will give evidence to the great year of music we experienced. And here is my promise going forward, those albums that were missed will be featured on a weekly basis for the rest of the year, so you need not feel that your favorite band will be missed, we will get to it all somehow.</p><p>Next week we return to themes proper with a theme on dreaming. Dreams have a been a focus for me lately and we have not done a dream theme for Progrock yet... so off we go. We will feature songs inspired by dreams, about dreams, and for dreaming. It should be a fun journey into the messy mind of prog dreamers everywhere.</p><p>As always, you can contribute to Soundscape with a perfect album side, a request, or even just your feedback. The address to write us is <a href="mailto:soundscape@progrock.com">soundscape@progrock.com</a></p>]]></description>
			<enclosure length="254564614" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.30%20Best%20of%202015%20So%20Far.mp3" />
			<itunes:duration>04:24:56</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>After much gnashing of teeth and anxious equivocation I developed some semblance of an end of year show for 2015....</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape 2.29: Beethoven Wuz Here</title>
			<pubDate>Sun, 7 Feb 2016 11:00:00 EST</pubDate>
			<guid isPermaLink="false">a11218d7-9c6f-45f4-9a8c-ed6a9363f769</guid>
			<link>http://soundscapeprog.com/episodes/beethoven-wuz-here.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/beethoven-wuz-here-thumbnail.jpg" />
			<description><![CDATA[<p><em>"Music is the one incorporeal entrance into the higher world of knowledge which comprehends mankind but which mankind cannot comprehend"</em> -Ludwig Van Beethoven</p><p>In this episode of Soundscape we pay homage to Beethoven by taking a brief look at progressive rock music inspired by his works. While Moonlight Sonata and the masterful Fifth will make their appearances throughout the episode, I think they manifest non-repetitively enough that it feels more like a theme that is interwoven in the music than a replay of the same old thing. Multiple musicians were influenced by Ludwig and I doubt that we have even scratched the surface.</p><p>Of course the usual interplay of new music, requests and classics is here as well. We have new music from Nicholas Beggs and Steven Wilson as well as a Perfect Album Side from Chris Sargent. I do apologize Chris, one of your requests we could not find. If you would also like us to bungle your Perfect Album Side you need only send us a list of approx 45 minutes of music and we will get it up on the show. Send your requests to <a href="mailto:soundscape@progrock.com">soundscape@progrock.com</a>.</p><p>Next time around we will be looking back over the year 2015, identifying the best of the year. What was your favorite album of last year? Send us a note and let us know.</p>]]></description>
			<enclosure length="253236759" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.29%20Beethoven%20Wuz%20Here.mp3" />
			<itunes:duration>04:22:49</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>"Music is the one incorporeal entrance into the higher world of knowledge which comprehends mankind but which mankind cannot comprehend"</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape 2.28: Self Referential</title>
			<pubDate>Sun, 10 Jan 2016 11:00:00 EST</pubDate>
			<guid isPermaLink="false">66801928-2f89-465a-a770-7b8685dac7ea</guid>
			<link>http://soundscapeprog.com/episodes/self-referential.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.28%20Self%20Referential%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>The hand drawing the hand seemed like the perfect metaphor for this week's Soundscape episode. Here in we explore prog as only prog artists can, by paying homage to themselves or the wellspring of creative flow that is progressive rock. There are artists who reference themselves, and artists who reference other prog musicians. It's a kaleidoscope of  narcissistic prog love and you are here to witness it. Thanks to all who offered suggestions for this show, I think we built a wonderful monster here.</p><p>We also feature a lot of newer music that we think you will love, and a new Perfect album side. If you would also like to suggest a perfect album side, you need only send 45 minutes of your favorite prog music to soundscape@progrock.com We will play it. We love new music and new themes so let us know and we will do our best to bring light.</p><p>The next episode will be on 2/6 and we will feature prog rock that uses or abuses Ludwig Van Beethoven. Send us your suggestions!</p>]]></description>
			<enclosure length="270705695" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.28%20Self%20Referential.mp3" />
			<itunes:duration>04:41:47</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>The hand drawing the hand seemed like the perfect metaphor for this week's Soundscape episode. Here in we explore prog as only prog artists can, by paying homage to themselves or the wellspring of creative flow...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape 2.27: Doctor Prog</title>
			<pubDate>Sun, 27 Dec 2015 11:00:00 EST</pubDate>
			<guid isPermaLink="false">4d5228d8-c2ea-4a45-9837-741f03efa938</guid>
			<link>http://soundscapeprog.com/episodes/doctor-prog.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.27%20Doctor%20Prog%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p><q>Our lives are important — at least to us — and as we see, so we learn… Our destiny is in the stars, so let’s go and search for it.</q><br> – First Doctor Who William Hartnell</p><p><q>I love humans. Always seeing patterns in things that aren’t there.</q><br> – Eighth Doctor Who Paul McGann</p><p>This is our second tribute to Doctor Who. The first was done back in the days when we were on The Dividing Line. This will not be a repeat of that show, let's call it a regeneration. In this weeks episode then, we pay tribute to Doctor Who. A renegade timelord who steals a Tardis (a machine which can travel through time and space). This Doctor ultimately becomes the salvation of the human race many times over. The more important element however is what the Doctor teaches us about ourselves. The way he challenges us to seek new definitions and solutions for the big questions. While Doctor Who started out as a children's show, it has become the biggest cult classic that BBC has created. Running over 50 years the Doctor has regenerated 13 times...sorry if that is a spoiler. Each incarnation develops their own voice, their own ways of moving through the universe, but in doing so brings us closer to understanding our humanity. Thus it is one of the most open ended creative storytelling devices for fans of science fiction and it has spawned a mythology that has captured multiple generations.</p><p>In this episode, not all of the music was written for Doctor Who, in fact most of what was chosen has little connection to Doctor Who on it's own. However, we have chased down songs whose lyrical content often matches the story. We have also provided audio of every Doctor in the timeline, save for those on the Children in Need specials. We hope you will enjoy the journey.</p><p>If you enjoy your prog and Doctor Who mixed, check out the <a href="http://progtorwho.co.uk/">progtorwho podcast.</a>  The guys over at Progtor Who provide 3 songs and commentary on Doctor Who every other week. Also please go and check out <a href="http://www.trafficexperiment.net/products.html">Traffic Experiment</a>. They are the prog musicians who provided 2 of our songs for the show and they deserve some love.</p><p>Next time around we will be exploring what I am fondly calling 'self recursive prog rock'. This is prog rock that is self aware of it's own leanings. Whether the music points out other prog music or discusses what prog is in the song this will be the departure point for our next adventure. You may get in contact with us at: soundscape@progrock.com send us your suggestions, concerns, and perfect album sides. Thanks for checking out our show.</p><p>https://youtu.be/M9P4SxtphJ4</p>]]></description>
			<enclosure length="234017431" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.27%20Doctor%20Prog.mp3" />
			<itunes:duration>04:03:20</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>This is our second tribute to Doctor Who. The first was done back in the days when we were on The Dividing Line. This will not be a repeat of that show, let's call it a regeneration. In this weeks episode then, we pay tribute to Doctor Who. A renegade...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape 2.26: A Star Wars Christmas Celebration</title>
			<pubDate>Sun, 20 Dec 2015 11:00:00 EST</pubDate>
			<guid isPermaLink="false">07065864-e24e-49eb-808b-18369c9e6633</guid>
			<link>http://soundscapeprog.com/episodes/a-star-wars-christmas-celebration.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.26%20A%20Star%20Wars%20Christmas%20Celebration%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>Merry Christmas and Happy Holidays to one and all. On this week's episode of Soundscape we celebrate the season and we also celebrate the war between the stars that happened a long time ago in a galaxy far far away. We have done the Star Wars theme in the past, but it is of course very timely right now and we have never done the homage for progrock.com So here we give you two sets of Star Wars based music and wrap it with some wonderful Christmas tunes. We hope you enjoy the ride.</p><p> Next week we will get back to our regular schedule with an episode that pays homage to that other amazing Holiday franchise, Doctor Who. With the Christmas episode almost upon us, it is time once again to get in our musical tardis. Please join us.</p><p>We are looking for perfect album sides from new listeners. If you have not sent us one, it only needs 45 minutes of wonderful proggy tunes. You can send your list to soundscape@progrock.com</p><p>"This Holiday is yours, where we all share with you the hope that this day brings us closer to freedom and to harmony and to peace. No matter how different we appear, we're all the same in our struggle against the powers of evil and darkness. I hope that this day will always be a day of joy, in which we can reconfirm our dedication and our courage. And more than anything else, our love for one another. This is the promise of the Tree of Life"- Princess Leia from the Star Wars Christmas Special.</p>]]></description>
			<enclosure length="240051470" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.26%20A%20Star%20Wars%20Christmas%20Celebration.mp3" />
			<itunes:duration>04:03:39</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>Merry Christmas and Happy Holidays to one and all. On this week's episode of Soundscape we celebrate the season and we also celebrate the war between the stars that happened a long time ago in a galaxy far far away...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape 2.25: Childhood's End</title>
			<pubDate>Sun, 6 Dec 2015 11:00:00 EST</pubDate>
			<guid isPermaLink="false">fce84203-ad29-4b8e-8ebd-51f034abb7f6</guid>
			<link>http://soundscapeprog.com/episodes/childhoods-end.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.25%20Childhood's%20End%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p><q>In this single galaxy of ours there are eighty-seven thousand million suns. [...] In challenging it, you would be like ants attempting to label and classify all the grains of sand in all the deserts of the world. [...] It is a bitter thought, but you must face it. The planets you may one day possess. But the stars are not for man.</q><br>― Arthur C. Clarke, <i>Childhood's End</i></p><p>I am not sure if the idea was in the air as a sort of zeitgeist or if I was aware that Syfy was releasing a mini-series but Childhood's End had some gravity that pulled me in. The story in many ways pointed out the folly of our present condition, regardless of how far fetched the story became in the end. Arthur C. Clarke knew how to write incredible science fiction. He spent very little time on what we might call character development and instead often turned his eyes to the meet of the matter. Sci-fi is the best genre for exploring what if's and often for forcing us into a re-evaluation of our place in the universe. To that end, we here today offer a musical exploration of Childhood's End by Arthur C. Clarke.</p><p>A warning to listeners, there are spoilers throughout this episode. If you wish to read the book or see the mini-series with surprise in your heart, wait for this episode. I did not give all of the details, but I did skim through a great many ideas and plot points in putting this set of music together. This episode is a pure book club episode in that there is nothing extraneous in the setlist. While I did manage to get a couple of new tracks in, I tried to stay true to the story and use music that only supported the story. I hope you enjoy this journey but I highly recommend that you read the story at hand before taking this musical journey.</p><p>We are again without a PAS in this episode. We may let it go for a few episodes as the next episode will be packed with music. Not only will we be celebrating Christmas in song, but we will also pay homage to the most anticipated event of the season, the awakening of the force. That episode will air on the 20th and we will double up on the 27th in order to catch up to our regular schedule and to celebrate the 9th season of Doctor Who. So you Sci-fi fans are in for a treat on Soundscape in the next few weeks. Happy Holidays from Suzi and I. See you soon!</p>]]></description>
			<enclosure length="209802808" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.25%20Childhood's%20End.mp3" />
			<itunes:duration>03:38:24</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>I am not sure if the idea was in the air as a sort of zeitgeist or if I was aware that Syfy was releasing a mini-series but Childhood's End had some gravity that pulled me in. The story in many ways pointed out the folly of our present condition...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape Jam 3: Jazzy Jams</title>
			<pubDate>Wed, 25 Nov 2015 20:00:00 EST</pubDate>
			<guid isPermaLink="false">62a6e8e8-7e22-46ef-a391-2485371e03b1</guid>
			<link>http://soundscapeprog.com/jams/jams003.html</link>
			<itunes:image href="http://soundscapeprog.com/jams/images/jam003-jazzy-thumbnail.jpg" />
			<description><![CDATA[<p>Do you need some kick in your day? Well Soundscape Jam is here to help. This month's show culls together a number of high energy jams worthy of a dance party or a short road trip (when they see you seat dancing and singing your heart out at the stoplight, just give 'em a big sheet eating grin and a thumbs up).</p><p>Send your requests and correspondence to Jam master Woody: soundscape@progrock.com</p>]]></description>
			<enclosure length="148814419" type="audio/mpeg" url="http://www.soundscapeprog.com/jams/Soundscape%20Jam%20Ep3%20Jazzy%20Jams.mp3" />
			<itunes:duration>02:34:42</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>Do you need some kick in your day? Well Soundscape Jam is here to help. This month's show culls together a number of high energy jams worthy of a dance party or a short road trip...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape 2.24 Terra Mystica</title>
			<pubDate>Sun, 15 Nov 2015 11:30:00 EST</pubDate>
			<guid isPermaLink="false">68322a9a-933a-4a35-b645-c279e15b64a4</guid>
			<link>http://soundscapeprog.com/episodes/terra-mystica.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.24%20Terra%20Mystica%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>This weeks episode is a salute to one of our favorite board games of all time; Terra Mystica. This is a game about area control and expanding territory through Terraforming land. It can be quite cut-throat and I am not even sure if I am particularly good at it, but the nature of the game is such that it promotes strategy, trading and backstabbing. We created this show for those who love this game and to turn the rest of you on to something we find rather special. Question is, did the show represent the theme well? I guess that is for you listeners to decide. Either way, it was a fun if haphazard mix of music to present and we think you will enjoy the show.</p><p>There was no time to set up a perfect album side in this episode but if you would like to send us a set of 45 minutes of prog music, we will be happy to feature it on the show. Send requests to soundscape@progrock.com</p><p>With Christmas coming, we are looking at some staggering of the schedule again. The next show will air on 12/6 unless we can find a time before the 29th. The feature theme of the show will be based on Arthur C. Clarkes masterpiece of alien invasion; Childhood's End. If you have suggestions for this theme, please drop us a line.</p><p>Cheers,Woody & Suzi</p>]]></description>
			<enclosure length="245143464" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.24%20Terra%20Mystica.mp3" />
			<itunes:duration>04:15:08</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>This weeks episode is a salute to one of our favorite board games of all time; Terra Mystica. This is a game about area control and expanding territory through Terraforming land. It can be quite cut-throat...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.23: Thunderprog</title>
			<pubDate>Sun, 1 Nov 2015 11:00:00 EST</pubDate>
			<guid isPermaLink="false">993255a9-e266-4e18-88f0-2aa45c35c350</guid>
			<link>http://soundscapeprog.com/episodes/thunderprog.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.23%20Thunderprog%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>So here we are again, Bond season is upon us. This will be our 4th or 5th episode dedicated to 007. Perhaps we should stop as we seem to be running out of new material to throw at you, nevertheless we fight the battle on. I will point out that this show is less Bondy than some of our previous options. In fact last year seemed pretty definitive in catching Bond based prog. As such we will also be making it available for you as well this week. Despite these claims, it will still be a rather enjoyable journey through some of the lesser known stations in progdom and as such you can pretend you are on a secret mission to discover whatever Bond themes you can conjour within the music that here abides.</p><p>We also have a perfect album side of rare live material put together by Jeff Criswell. If you also would like to submit your perfect album side offering, or simply want to comment on how good your DJs look on air, send your messages to soundscape@progrock.com</p><p>Coming up on 11/15 we will do a show in tribute to one of our favorite board games: Terra Mystica. It is a game of terraforming and area control and probably the most played game in our home. So why not give it the prog treatment? We will.</p>]]></description>
			<enclosure length="242646791" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.23%20Thunderprog.mp3" />
			<itunes:duration>04:12:06</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>So here we are again, Bond season is upon us. This will be our 4th or 5th episode dedicated to 007. Perhaps we should stop as we seem to be running out of new material to throw at you, nevertheless we fight the battle on...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.3: You Only Prog Twice</title>
			<pubDate>Sun, 1 Nov 2015 11:00:00 EST</pubDate>
			<guid isPermaLink="false">a24e0cbc-72f3-4235-b8c0-94b264a44f42</guid>
			<link>http://soundscapeprog.com/episodes/you-only-prog-twice.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Bond-Girls%20-%20Thumbnail.jpg" />
			<description><![CDATA[]]></description>
			<enclosure length="232385689" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.3%20You%20Only%20Prog%20Twice.mp3" />
			<itunes:duration>04:01:52</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle></itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.22: The Twilight Zone</title>
			<pubDate>Sun, 25 Oct 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">10b59bd5-6225-40d9-bdc6-bf1e5e09d3e3</guid>
			<link>http://soundscapeprog.com/episodes/the-twilight-zone.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.22%20Twilight%20Zone%20-%20thumbnail.jpg" />
			<description><![CDATA[<p>The time Autumn 2015, the place, a little known broadcasting studio somewhere in North America. The yearly ritual Halloween podcast has been created for your listening pleasure. It is an often cacophonous mesh of dischordant tones and spooky themes meant to chill your spine and rattle your brain. The broadcasters meticulously comb the soundscape for evidence of themes and clues to the mysteries of life. Such a broadcast could only happen, in The Twilight Zone.</p>]]></description>
			<enclosure length="244704006" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.22%20The%20Twilight%20Zone.mp3" />
			<itunes:duration>04:14:48</itunes:duration>
			<itunes:explicit>yes</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>The time Autumn 2015, the place, a little known broadcasting studio somewhere in North America. The yearly ritual Halloween podcast has been created for your listening pleasure. It is an often cacophonous mesh of dischordant tones and spooky themes...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.21: Through the Mind</title>
			<pubDate>Sun, 11 Oct 2015 11:15:00 EDT</pubDate>
			<guid isPermaLink="false">dd049785-af2f-4ffd-bbbf-14c6a33be792</guid>
			<link>http://soundscapeprog.com/episodes/through-the-mind.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.21%20Through%20the%20Mind%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>Soundscape returns from a month long hiatus with a journey into the mind as only prog artists can do. Sorry to have been away so long but September is probably our busiest month of the year. We also included some new stuff and a perfect album side for your listening pleasure.</p><p>If you would like to submit a perfect album side, simply send us 45 minutes of your favorite proggy gems and we will put it on the show. You can be counted among the elite team of enthusiasts that have taken the time to carefully craft a set of themed music, or you can just throw on any old thing. We are not that formal. Send your choices to soundscape@progrock.com</p><p>Our next live shows will be on 10/26 and 11/2 (to catch up with our normal sequence).  Next time around, our annual Halloween episode of spooky prog! Plus stay tuned for another edition of Soundscape Jam coming in late October. Details will be posted on Facebook and Twitter.</p><p>Cheers, Suzi and Woody</p>]]></description>
			<enclosure length="245459838" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.21%20Through%20the%20Mind.mp3" />
			<itunes:duration>04:15:25</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>Soundscape returns from a month long hiatus with a journey into the mind as only prog artists can do. Sorry to have been away so long but September is probably our busiest month of the year...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape Jam 2: A Full on Jam</title>
			<pubDate>Thu, 8 Oct 2015 21:00:00 EDT</pubDate>
			<guid isPermaLink="false">c3b6d4fd-f36f-4fd0-a6be-3acec2f5705c</guid>
			<link>http://soundscapeprog.com/jams/jams002.html</link>
			<itunes:image href="http://soundscapeprog.com/jams/images/psychedelic_mess_by_acid_flo-d3cq9od-Thumbnail.jpg" />
			<description><![CDATA[<p>Well here we are, the 2nd episode of the illusive Soundscape Jam. Soundscape proper does not often offer me a chance to share some of the incredible music that is being churned out by the jamband community. Perhaps by strict definition these bands are not progressive but many of the characteristics are the same; odd key signatures, long instrumental journeys, surprises turned out in transitional moments, and musicians with a penchant for musicianship and exploration. So to give them their fair due, and to offer up some of my favorite moments with these bands we created Soundscape Jam. We would love to hear from you guys if you are enjoying this little one off show. We will be attempting to run the show 1-2 times a month most months. Times will vary according to our schedule but we will do everything we can to insure that you know when the live show is happening. Let us know what you think by dropping a line to soundscape@progrock.com</p>]]></description>
			<enclosure length="114240709" type="audio/mpeg" url="http://www.soundscapeprog.com/jams/Soundscape%20Jam%20ep%202%20A%20full%20on%20jam.mp3" />
			<itunes:duration>01:56:27</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>Well here we are, the 2nd episode of the illusive Soundscape Jam. Soundscape proper does not often offer me a chance to share some of the incredible music that is being churned out by the jamband community...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.20: Very English</title>
			<pubDate>Sun, 23 Aug 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">6b10d923-505e-4376-9dfc-f183e48f7569</guid>
			<link>http://soundscapeprog.com/episodes/very-english.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.20%20Very%20English%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>Hello my fellow prog geeks,</p><p>This week the muse directed me to the idea of "Very English" music. Being American, I have very little idea what this means except to say the phrase seems to be reserved for an often pastoral and folksy sense of music. I enlisted some help along the way as I often do, particularly relying on the support of www.progarchives.com. If you ever want to determine if certain themes exist in our musical realm, you need only develop a search query there and very often the database will get you turned on just fine. What developed is to my ears a wonderfully melodic often very pleasant set of music. My hope is that you will also find this to be the case.</p><p>Our PAS this time around comes from the one and only Hemispherical Walter. Walter was there when Soundscape started and has been a faithful listener, even when we have put on horrid shows. In fact it often feels as if he is our man in the wings, or our defacto mascot; bringing in the prog and turning us on to new sounds. He is my brother from another mother and a damn fine fellow.  Walter's perfect album side may not hit the theme perfectly but it is a welcome entry of some great new and older tunes. We can't give you a spot on the podium like Walter, but if you want to become a regular contributor of music yourself, you too can send us your PAS list. It only takes 45 minutes of music, chosen by you, to be featured in our podcast. We love to hear from our listeners, so please drop us a line with your PAS or anything else you want to chat about: soundscape@progrock.com</p><p>We will be out of commission for a good bit of September. Actually if we attempted to follow the usual every other week schedule there would be no show at all in September. However, the plan is to look for a couple of windows of opportunity to do shows on the fly. We will alert you on twitter: @SoundscapeDJ and Facebook on the Soundscape page. Thanks for listening, we love you guys!</p>]]></description>
			<enclosure length="246348773" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.20%20Very%20English.mp3" />
			<itunes:duration>04:16:31</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>This week the muse directed me to the idea of "Very English" music. Being American, I have very little idea what this means except to say the phrase seems to be reserved for an often pastoral and folksy sense of music...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape Jam 1: What is Soundscape Jam?</title>
			<pubDate>Tue, 18 Aug 2015 20:00:00 EDT</pubDate>
			<guid isPermaLink="false">8d5c82f3-8cfd-4378-a382-c457b0fe6694</guid>
			<link>http://soundscapeprog.com/jams/jams001.html</link>
			<itunes:image href="http://soundscapeprog.com/jams/images/jam001_phish_thumbnail.jpg" />
			<description><![CDATA[<p>Greetings fellow music nerds,</p><p>Last night we set out to do something we have been wanting to do for a while. We presented Soundscape Jam. This is an offshoot of Soundscape that explores improvisational rock and jam bands. Improvisation when done well is one of our favorite parts of musical expression. It is raw, exploratory and imaginative. Sometimes musicians make wrong turns or dip down a dark alley but when they soar, the result is amazing. Soundscape itself does not allow as much exploration into this territory as we would like. So Soundscape Jam allows us to play you the stuff that we groove to when we are not deep in the throws of classical progressive rock. We hope you enjoy this monthly foray into new territory. Please let us know what you think by sending an email to soundscape@progrock.com</p>]]></description>
			<enclosure length="115052256" type="audio/mpeg" url="http://www.soundscapeprog.com/jams/Soundscape%20Jam%20Ep1%20What%20is%20Soundscape%20Jam.mp3" />
			<itunes:duration>01:59:39</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>Last night we set out to do something we have been wanting to do for a while. We presented Soundscape Jam.  This is an offshoot of Soundscape...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.19: Storyscape</title>
			<pubDate>Sun, 9 Aug 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">011f1d13-fd2f-4ed0-9391-f2f4456657b7</guid>
			<link>http://soundscapeprog.com/episodes/storyscape.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/2.19%20Storyscape%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>Once upon a time in a land far away, there was a Soundscape. This Soundscape was not like other Soundscapes, it changed with the wind and often looked and sounded quite different than the last time. One day this Soundscape decided it would look as if it was telling stories and it would try to present a mix of story songs. So it gathered together a group of great song writers and storytellers, and then it allowed anyone who wanted to listen to the songs that were gathered.</p><p>The rest of the story is yours to finish but you can make your decision after you take a listen to this story based episode of Soundscape. As always we have a nice mix of the new and the old for you to dig into. We also have a Perfect Album Side that will take you to some strange places.</p><p>If you would like to contribute a perfect album side, simply send us a small list of 45 minutes of proggy tunes and we will add it to our collective. You send this to soundscape@progrock.com We look forward to your input.</p><p>Join us again for Soundscape on 8/23.</p>]]></description>
			<enclosure length="246771559" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.19%20Storyscape.mp3" />
			<itunes:duration>04:16:59</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>Once upon a time in a land far away, there was a Soundscape. This Soundscape was not like other Soundscapes, it changed with the wind and often looked and sounded quite different...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.18: Dystopia-Utopia</title>
			<pubDate>Sun, 26 Jul 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">03339860-17f2-4031-abd8-4c76745f1645</guid>
			<link>http://soundscapeprog.com/episodes/dystopia-utopia.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.18%20Dystopia-Utopia%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>Remember the good ole days; before the thought police, before government sanctioned humor parties, before the sex lotteries and before the mandatory offworld work year. If you don't it's because your memories are being manipulated by the national censor network. They seem to be everywhere. Look, just have a listen to this file and you will learn about this madness and you will get directions to the sanctuary, a place where you can live free and easy. Oops, they are coming, just take this address and go. Hopefully I will see you on the other side. I still have more people to see. Good Luck!</p><p>This weeks episode of Soundscape features music with a dystopian or utopian theme to it. You will find more dystopia than utopia but that is probably because minor chords and political explorations of power sell better in prog than blissful journeys into kumbaya land. Nevertheless we think you will enjoy this newest gathering of songs, dystopian or otherwise.</p><p>We also have a wonderful bridging perfect album side (PAS) for you. If you don't know what a PAS is...where have you been? A PAS is when you the listener put together a list of 45 minutes of music that you enjoy and send it soundscape@progrock.com We will play your music on the show. Just think of all of the great things you could do with this; send a secret message to your resistance cell, tell your significant other that you love them, or just offer a blissful proggy set of dance music for your friends on the other side of the wall. We need new contributors and you know it is the right thing to do.</p><p>Next episode, a look at Grimm's fairy tales through the eyes of prog rock. That will be fun show I am certain. We are also looking forward to our new show Soundscape Jam. It will launch in August...no really it will. It will be a monthly show for fans of improvisational rock music. Keep your eyes on @SoundscapeDJ and Facebook for more info.</p><p>Finally a word about music streaming. With the advent of amazing services like Spotify and Apple music, we are now in the world we created as kids. The introduction of cassette recorders, the immediate ancestor of napster, has left us all growing up in a world in which we believe we have a right to the music we listen to. We don't! Our musician friends work hard to develop amazing music for us and they deserve credit for their creative energies. Certainly these streaming services are wonderful for finding and discovering new music, and streaming music you already own at home, but there needs to be a balance. We at Soundscape encourage you to go out and support these amazing musicians. Buy their albums, see them live, drop them a line of appreciation. If you enjoy something we introduce you to hear on the show, go buy it. If you want a dystopian music scene, that is what you are going to get if you don't give the artists their due. Be kind and enjoy!</p>]]></description>
			<enclosure length="247982991" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.18%20Dystopia-Utopia.mp3" />
			<itunes:duration>04:17:39</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>Remember the good ole days; before the thought police, before government sanctioned humor parties, before the sex lotteries and before the mandatory offworld work year. If you don't it's because your memories are being manipulated...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.17: A Tribute to Chris Squire</title>
			<pubDate>Sun, 12 Jul 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">c22bff2f-2646-44b8-8cac-3607c3634fcc</guid>
			<link>http://soundscapeprog.com/episodes/a-tribute-to-chris-squire.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.17%20A%20Tribute%20to%20Chris%20Squire%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>In this weeks episode of Soundscape we took some time to honor the one and only Chris Squire. He was the only member of Yes that was on every Yes recording, and he may likely have been the glue that kept the band running for so long. It is with heavy hearts we bid him adieu. We do however have an astounding body of work that Chris left us and for most of us his bass and his style are interwoven into our lives and in the lives of a number of other musicians who light the way as well. We tried to pick the best stuff from Chris, while also honoring his contributions to other bands. Hopefully you will enjoy our offering.</p><p>Also in this episode we have a short interview with Colin Tench of Corvus Stone, Bunchakeeze, and multiple other bands. We chat with him about the new Corvus Stone album as well as the state of progressive rock. We also listen to a number of pieces of Colin Tench music both new and old.</p><p>Finally we have a perfect album side from Chris Sargent that we believe you are going to thoroughly enjoy. You too can offer up a perfect album side if you so desire (please do). All you need do is put together 45 minutes of music and send it to soundscape@progrock.com. We will feature it for you on a future episode.</p><p>A small grouping of newer material rounds out the show.</p><p>Next time around we will explore how the themes of Utopia and Dystopia play a role in progressive rock music. If you have any suggestions, feel free to email us.</p>]]></description>
			<enclosure length="248112053" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.17%20Tribute%20to%20Chris%20Squire.mp3" />
			<itunes:duration>04:18:21</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>In this weeks episode of Soundscape we took some time to honor the one and only Chris Squire. He was the only member of Yes that was on every Yes recording, and he may likely have been the glue ...</itunes:subtitle>
		</item>

		<item>
			<title>Soundscape #2.16: Summer Epic</title>
			<pubDate>Sun, 28 Jun 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">0caf7546-7d7d-4b6f-a336-6d80e0ad3618</guid>
			<link>http://soundscapeprog.com/episodes/summer-epic.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.16%20Epic%20Summer%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>Hello fellow scapers,</p><p>This weeks show took some strange and unexpected turns. The theme of the epic summer movie may or may not come through but there is a still a ton of great music herein, and you may feel that you are indeed experiencing something akin to a summer movie- but we make no promises.</p><p>15 minutes before the start of the show we got the news about the passing of beloved Yes bassist Chris Squire. However, we did not want to half ass a tribute show, so we continued with the proffered theme. There is a short tribute set at the end of the show and we will properly tribute our musical brother in an upcoming episode.</p><p>Also present here is a return to Escape Velocity in place of the perfect album side. Escape Velocity has been used in the past to fully theme a show but in this case we have a short set of Italian prog. We have always known that there was something special about the Rock Italiano Progressive genre but more recently it has been a goal to learn more about what makes this music so different. We showcase 3 such bands for your enjoyment.</p><p>The Perfect Album side was scrapped for this show due to the fact that all of the perfect album sides we have are from regular contributors. We love you guys for putting these together but we also want fresh blood. For those who don't know a perfect album side is your opportunity as a listener to call the shots on approx 45 minutes of music. The show was always meant to be a collaboration between us and our listeners. We know that as DJs we have a very distinctive taste in music. Sometimes we miss things, or avoid things based on what it is we like. We want to add your distinctiveness to our own and absorb you into the Soundscape collective. So become one with us as we seek perfection and send you 45 minute set to soundscape@progrock.com</p><p>Most likely the next episode will feature a lot of music from Chris Squire. Chris left us a lot to be thankful for and he will be sorely missed. We want to spend a day in tribute to our beloved bass bomber. Send us your suggestions for best bass lines, best vocals, best songs, best Chris. Send them to soundscape@progrock.com.</p>]]></description>
			<enclosure length="247958337" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.16%20Summer%20Epic.mp3" />
			<itunes:duration>04:18:15</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>This weeks show took some strange and unexpected turns. The theme of the epic summer movie may or may not come through but there is a still a ton of great music herein, and you may feel that you are indeed experiencing something akin to a summer movie...</itunes:subtitle>
		</item>
		<item>
			<title>Soundscape #2.15: Woodwind Whirl</title>
			<pubDate>Sun, 31 May 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">51d15c19-8a9c-4c54-b160-959936a289b7</guid>
			<link>http://soundscapeprog.com/episodes/woodwind-whirl.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.15%20Woodwind%20Whirl-Thumbnail.jpg" />
			<description><![CDATA[<p>A few weeks ago after a spirited presentation of Bagpipe in prog rock music, Suzi suggested a heavy wind theme. So here it is. We gathered some of the best, oddest, original, or unexpected pieces of music using woodwind instruments and dropped them into this weeks show. It was a truly enjoyable musical journey and one which we believe you will all thoroughly enjoy. You will also find tucked inside new music from the last few weeks of releases, as well as a perfect album side full of old time prog keyboard joy.</p><p>Speaking of perfect album sides, have you sent yours yet? I have heard it is all the rage and part of the up and coming far out scene. So mellow out man and send us your tunes. We will spin them in a clockwise fashion. You need only list about 45 minutes of music that you would like to hear us play and we will throw it in the mix for all to hear. You're not shy are you? Send it to soundscape@progrock.com.</p><p>The nest episode will be a few weeks away and will happen on 6/28. In that episode we will attempt to develop a show based on the summer blockbuster. We will be seeking epic journeys with musical depth as well as songs that seem to suggest the cream of the summer movie explosion. This should be fun if it works, and if it doesn't we will still fill your ears with joyous goodies.</p>]]></description>
			<enclosure length="264489010" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.15%20Woodwind%20Whirl.mp3" />
			<itunes:duration>04:35:27</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>A few weeks ago after a spirited presentation of Bagpipe in prog rock music, Suzi suggested a heavy wind theme. So here it is. We gathered some of the best, oddest, original, or unexpected pieces of music using woodwind instruments...</itunes:subtitle>
		</item>
		<item>
			<title>Soundscape #2.14: Proggy Creatures</title>
			<pubDate>Sun, 17 May 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">f7ce4615-bbc2-4131-a1be-8ab559fa8a9b</guid>
			<link>http://soundscapeprog.com/episodes/proggy-creatures.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.14%20Proggy%20Creatures%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>In this weeks episode of Soundscape we get a listen to a number of proggy creatures. The show was a blast to put together and run and even with glitches all over the place on the live side, we managed to piece it all together so that you could get a look at the Zoo we made for you podcast listeners.</p><p>We skipped the perfect album side in favor of delivering a full theme. However, for those who wish to do so you can send a perfect album side request to soundscape@progrock.com You need only have 45 minutes worth of proggy wonder and we will allow you to take over the air.</p><p>A lot of themes are floating in the Soundscape stream and we are not sure what will be next. However, on the radar we have the proposed "Heavy Wind" show, a trip to Utopia/Dystopia, and the epic summer blockbuster show. You vote could sway us in any one of these directions. Send your thoughts and input to soundscape@progrock.com</p>]]></description>
			<enclosure length="227887645" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.14%20Proggy%20Creatures.mp3" />
			<itunes:duration>03:57:12</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>In this weeks episode of Soundscape we get a listen to a number of proggy creatures. The show was a blast to put together and run and even with glitches all over the place on the live side, we managed to piece it all together...</itunes:subtitle>
		</item>
		<item>
			<title>Soundscape #2.13: Evo-Lution</title>
			<pubDate>Sun, 3 May 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">5be395fd-742a-4d93-9366-e7e22a25685c</guid>
			<link>http://soundscapeprog.com/episodes/evo-lution.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.13%20Evo-lution%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>The game of Evo is one of the oldest in our collection of tabletop games. It's unfortunate, but it rarely sees any table time these days and this is sad because it is a great little medium weight game that has resulted in a lot of joy for our original gaming group. This has nothing to with prog rock music except that it is the catalyst for this weeks theme- A show about Dinosaurs and evolution.</p><p>Ok so the whole show is not about Dinosaurs, or even Evo, but as a spring board for a little creative DJ tomfoolery it works quite nicely. We of course have a perfect album side and a small collection of great newer postcards from the prog rock super highway. So check it out and be whelmed with energy!</p><p>By the way, if you desire to have some input on this crazy little podcast, you can send a perfect album side of 45 minutes of prog music, to soundscape@progrock.com This will get you a few minutes of prog fame and a slap on the back from your prog rock loving boss who has been looking for a podcast he could really sink his teeth into. And if he sinks his teeth in here, he will not be biting you anymore. Who knows you may get a raise- it could happen.</p><p>Finally, our next theme will be a cryptozoo of prog in which we display the many mythical creatures created by progressive artists. It should be fantastic or at least whelming. Cheers from your DJs.</p>]]></description>
			<enclosure length="240076094" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.13%20Evo-lution.mp3" />
			<itunes:duration>04:09:45</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>The game of Evo is one of the oldest in our collection of tabletop games. It's unfortunate, but it rarely sees any table time these days and this is sad because it is a great little medium weight game that has resulted in a lot of joy...</itunes:subtitle>
		</item>
		<item>
			<title>Soundscape #2.12: At Play in 1993</title>
			<pubDate>Sun, 19 Apr 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">f5803703-068d-4ded-bda3-3e3a38448e3f</guid>
			<link>http://soundscapeprog.com/episodes/at-play-in-1993.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.12%20At%20Play%20in%201993%20-%20Thumbnail.jpg" />
			<description><![CDATA[<p>In 1993 the world was a different place. Neo-prog had barely taken off beyond it's 80s leanings, Deep Space Nine was just starting up, Stephen Hawking's "A Brief History of Time" was a bestseller, and your humble DJs were still cutting their teeth on college algebra. Progressive Rock was not yet the monster that it is now. Probably as prog fans we knew very little about where to turn. Many of our favorite acts from the 70s had turned away from what prog rock really was, and the ones that were around were more homage to progressive rock than bands who were creatively stretching the boundary. However, that does not mean that there weren't proud moments of prog exploration taking place. You just had to poke around.</p><p>In this episode we will spend some time in the year 1993 getting a glimpse of what was. We also offer a short mini-theme regarding play and toys. Add to this a perfect album side that will take us from May to December, and a bouquet of newer stuff and you have our newest episode of Soundscape. We had a lot of fun developing this one and we hope you will too.</p><p>If you would like to offer your own perfect album side you can do so by sending a list of approx 45 minutes worth of tunes to soundscape@progrock.com we will put your name in the Soundscape history book, and you will have something to tell your grandkids.</p><p>Next time around we will be exploring another tabletop game. While we had a great time with Castles of Mad King Ludwig, the sound quality during DJ breaks was hideous. I would like to think we have fixed that issue now. We have not determined what game to flaunt just yet but we will let you know at our twitter feed @soundscapedj or on our facebook page. Thanks for listening!</p>]]></description>
			<enclosure length="256454448" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.12%20At%20play%20in%201993.mp3" />
			<itunes:duration>04:27:06</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>In 1993 the world was a different place. Neo-prog had barely taken off beyond it's 80s leanings, Deep Space Nine was just starting up, Stephen Hawking's "A Brief History of Time" was a bestseller, and your humble DJs were still...</itunes:subtitle>
		</item>
		<item>
			<title>Soundscape #2.11: A Sort of Ringworld</title>
			<pubDate>Sun, 5 Apr 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">7c2f6753-8d7c-4d3e-af74-0be483b6af14</guid>
			<link>http://soundscapeprog.com/episodes/a-sort-of-ringworld.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.11%20A%20Sort%20of%20Ringworld%20-%20Thumbnail.jpg" />
			<itunes:subtitle>There was this amazing plan. As a group, DJs and audience were going to read a book together and then a set of music was going to be created that would approximate the experience of that book. The book in question was Larry Niven's "Ringworld"...</itunes:subtitle>
			<description><![CDATA[<p>There was this amazing plan. As a group, DJs and audience were going to read a book together and then a set of music was going to be created that would approximate the experience of that book. The book in question was Larry Niven's "Ringworld". Well in theory it was, it is a fantastic idea. In reality, there is almost no music that celebrates Ringworld. Worse yet, I came at the show trying to keep spoilers intact. It was a rather difficult thing to do this. So what we have here is a show loosely based on Ringworld, with no real discussion of the story per se, and yet a fantastic set of music has still shown up. The book club is an experiment. It goes on in the back of my mind and I still believe it will work. However, when we try it again, we will look for books that are easily supported by prog rock, and I will not be so careful as to avoid spoilers. You have been warned.</p><p>At any rate, this episode is chock full of proggy goodness. It includes the Soundscape formula of new music, a theme set, and a perfect album side from Scott Oliver. So regardless of the challenges of creating the set, the music is impeccable.</p><p>Quick update regarding podcast and website. We are in the midst of changes, "turn and face the strange". So the website will morph and warp for the next few weeks. Please bear with us. What has not changed is our commitment to bring you a set of quality music. So dig in and enjoy. We are also still looking for perfect album sides. Send approx 45 minutes of tuneage to soundscape@progrock.com and we will get you up and in lights for your brief stay of fame. You can also send inquiries and love notes to this address as well. Critical messages can be sent to soundscape@progrock.com Thanks for your support. Here is your show.</p>]]></description>
			<enclosure length="227376873" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.11%20A%20Sort%20of%20Ringworld.mp3" />
			<itunes:duration>03:56:02</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
		</item>
		<item>
			<title>Soundscape #2.10: Through the Years</title>
			<pubDate>Sun, 22 Mar 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">631bd4b0-b05d-4a0b-836b-d7fed43c6484</guid>
			<link>http://soundscapeprog.com/episodes/through-the-years.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.10%20Through%20the%20Years%20-%20Thumbnail.jpg" />
			<itunes:subtitle>It was an odd notion. The plan was to take a short journey through the years of prog. It kind of speaks to the musical Tardis side of the Soundscape program. It also satisfies my personal need to explore lesser noticed territory...</itunes:subtitle>
			<description><![CDATA[<p>It was an odd notion. The plan was to take a short journey through the years of prog. It kind of speaks to the musical Tardis side of the Soundscape program. It also satisfies my personal need to explore lesser noticed territory (even if it is only new to me). So we dropped back 40 years and slowly made our way forward, decade by decade. The result was pretty magical. Not only did we peruse some long lost classics, we got to see a small snapshot of the changing face of progressive rock through the years. It made me aware of how little we all know about the amazing music that is out there. There was once an attempt to chronicle the march of prog with what we were calling history lesson episodes. After a while, I felt it got old very quickly. All of the research that goes into developing a set of music that I generally know very little about. Nevertheless, the historical seeker is still here and in small doses I think we can take these little forays into the past without developing too much ritual. Thus we have a greater flexibility in our approach. As such, I think you can expect some trips down memory lane in future episodes.</p><p>There was no perfect album side in this episode. That does not mean that we are not looking. There is a space for you in the Soundscape. You need only send us a 45 minute set of music and we will drop it into the mix in a future episode. Send your creative output to soundscape@progrock.com and we will gather around your bonfire dancing wildly (just please...no Monkees).</p>]]></description>
			<enclosure length="225285577" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.10%20Through%20the%20Years.mp3" />
			<itunes:duration>03:54:33</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
		</item>
		<item>
			<title>Soundscape #2.9: Last Year In Review</title>
			<pubDate>Sun, 8 Mar 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">51dd684f-9e10-4132-94c6-388443d83ece</guid>
			<link>http://soundscapeprog.com/episodes/last-year-in-review.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.92%20Last%20Year%20in%20Review%20-%20Thumbnail.jpg" />
			<itunes:subtitle></itunes:subtitle>
			<description><![CDATA[]]></description>
			<enclosure length="281923120" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.92%20Last%20Year%20in%20Review.mp3" />
			<itunes:duration>04:53:25</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
		</item>
		<item>
			<title>Soundscape #2.8: Castles of Mad King Ludwig</title>
			<pubDate>Sun, 22 Feb 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">047fcf58-c7cb-450d-9426-26a48b5e0c0c</guid>
			<link>http://soundscapeprog.com/episodes/castles-of-mad-king-ludwig.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/castles_of_mad_king_ludwig_thumbnail.jpg" />
			<itunes:subtitle></itunes:subtitle>
			<description><![CDATA[]]></description>
			<enclosure length="252066108" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.8%20Castles%20of%20Mad%20King%20Ludwig.mp3" />
			<itunes:duration>04:22:04</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
		</item>
		<item>
			<title>Soundscape #2.7: Acoustically Grooving</title>
			<pubDate>Sun, 8 Feb 2015 11:00:00 EDT</pubDate>
			<guid isPermaLink="false">033ba17f-bcd3-49fb-b101-1aaaef07bb77</guid>
			<link>http://soundscapeprog.com/episodes/acoustically-grooving.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/Soundscape%202.7%20Acoustically%20Grooving-%20Thumbnail.jpg" />
			<itunes:subtitle></itunes:subtitle>
			<description><![CDATA[]]></description>
			<enclosure length="255635483" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/Soundscape%202.7%20Acoustically%20Grooving.mp3" />
			<itunes:duration>04:25:56</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
		</item>
	</channel>
</rss>
