<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:cc="http://web.resource.org/cc/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:media="http://search.yahoo.com/mrss/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
	<channel>
		<atom:link href="{{ rss.url }}" rel="self" type="application/rss+xml"/>
		<title>{{ rss.title }}</title>
        <pubDate>{{ rss.published }}</pubDate>
		<lastBuildDate>{{ rss.lastBuildDate }}</lastBuildDate>
		<link>{{ base_url }}</link>
	    <language>{{ rss.language }}</language>
		<copyright>{{ rss.copyright }}</copyright>
		<managingEditor>{{ rss.editor.name }}{% if rss.editor.email is defined %} ({{ rss.editor.email }}){% endif %}</managingEditor>
		<description>{{ rss.description }}</description>
		<image>
			<url>{{ base_url }}/{{ rss.image }}</url>
			<title>{{ rss.title }}</title>
			<link>{{ base_url }}</link>
		</image>
		<itunes:author>{{ rss.author }}</itunes:author>
		<itunes:keywords>{{ rss.keywords }}</itunes:keywords>
		<itunes:category text="{{ rss.category }}"/>
		<itunes:image href="{{ base_url }}/{{ rss.image }}" />
		<itunes:explicit>{{ rss.explicit }}</itunes:explicit>
		<itunes:owner>
			<itunes:name>{{ rss.owner.name }}</itunes:name>
			<itunes:email>{{ rss.owner.email }}</itunes:email>
		</itunes:owner>
		<itunes:subtitle>{{ rss.subtitle }}</itunes:subtitle>

        {% for episode in episodes %}
        <item>
            <title>{{ episode.title }}</title>
            <pubDate> {{ episode.getFormattedDate }}</pubdate>
            <guid isPermaLink="false">{{ episode.guid }}</guid>
        </item>
        {% endfor %}
<!--
		<item>
			<title>Soundscape ~episodenumber~: ~episodetitle~</title>
			<pubDate>~episodeday~, ~episodedate~ ~episodetime~ EST</pubDate>
			<guid isPermaLink="false">~episodeguid~</guid>
			<link>http://soundscapeprog.com/episodes/~episodepage~.html</link>
			<itunes:image href="http://soundscapeprog.com/episodes/images/~thumbnailimage~.jpg" />
			<description><![CDATA[~description~]]></description>
			<enclosure length="~mp3size~" type="audio/mpeg" url="http://www.soundscapeprog.com/episodes/~mp3file~.mp3" />
			<itunes:duration>~mp3length~</itunes:duration>
			<itunes:explicit>no</itunes:explicit>
			<itunes:keywords />
			<itunes:subtitle>~episodeteaser~</itunes:subtitle>
		</item>
-->
	</channel>
</rss>
